*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
height:100vh;
color:white;
overflow:hidden;
background-image:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
                radial-gradient(circle at 20% 30%, #ff3cac44 , transparent 50%),
                radial-gradient(circle at 80% 70%, #00e5ff44 , transparent 50%),
url("brick.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}


header{
    padding: 1.5rem 0;
}

/* ===== nav ===== */
nav{
    width: 100%;
    padding: 1rem 5%;
    margin-bottom: 2rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

/* ===== Logo ===== */
.logo{
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}

/* ===== Navigation Links ===== */
.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* ===== Navigation Links a (home,menu,about,contact,my orders) ===== */
.nav-links li a{
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a:hover{
    color: #e0a2ed;
    text-shadow: 
        0 0 5px #ff3cac,
        0 0 10px #ff3cac,
        0 0 20px #e2e8f0;
}

/* ===== Logout Link ===== */
.li{
    list-style: none;
    display: flex;
    gap: 1.5rem; 
}
.li a{
    list-style: none;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
    padding: 1rem;
    display: flex;
    gap: 1.5rem; 
}
.li a:hover{
    color: #e0a2ed;
    text-shadow: 
        0 0 5px #ff3cac,
        0 0 10px #ff3cac,
        0 0 20px #e2e8f0;
}

/* ===== Search Box ===== */
.search{
    background-color: #e2e8f0;
    position: relative;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}
.search_icon{
    position: absolute;
    padding: .6rem 1rem;
    font-size: 1rem;
    color:#000000;
}
.search_input{
    padding: .6rem 1.2rem;
    padding-left: 1.8rem;
    font-size: 1rem;
    border: none;
    z-index: 1;
    background-color: transparent;
    width: 0;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165,1);
}
.search_input:focus{
    outline: none;
    padding-left: 3.2rem;
    width: 16rem;
}

/* ===== Cart Icon ===== */
.cart{
    position: relative;
    font-size: 26px;   
    color: white;
    cursor: pointer;
}
.cart i{
    display: block;
}
#cartCount{
    position: absolute;
    top: -6px;
    right: -8px;
    background: #ff4dff;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 0 8px #ff3cac, 0 0 12px #ff3cac55;
}

/* ===== Cart Popup ===== */
.cart-popup{
    position: fixed;
    top: 70px;
    right: 20px;
    width: 280px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 15px;
    color: white;
    display: none;
    box-shadow: 0 0 25px rgba(255,255,255,0.2);
    align-items: center;
    text-align: center;
}
.cart-popup h3{
    margin-bottom: 10px;
    text-align: center;
}
.cart-popup ul{
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}
.cart-popup li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 5px;
}

    /* The Name */
.title {
    font-family: 'Tilt Warp', cursive;
    font-size: 6rem;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 10%;
    margin-top: 60px;
    text-shadow: 
        0 0 5px #ff3cac,
        0 0 10px #ff3cac,
        0 0 20px #ff3cac,
        0 0 40px #ff3cac,
        0 0 80px #ff3cac,
        0 0 90px #ff3cac,
        0 0 100px #ff3cac;
    animation: neon-flicker 2s infinite alternate;
}

/* flicker animation (neon effect) */
@keyframes neon-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 
            0 0 5px #ff3cac,
            0 0 10px #ff3cac,
            0 0 20px #ff3cac,
            0 0 100px #ff3cac;
    }
    20%, 24%, 55% {
        text-shadow: 
            0 0 2px #ff3cac,
            0 0 5px #ff3cac,
            0 0 10px #ff3cac;
    }
}

/* p <lorem> */
p {
    font-family: 'Arial', sans-serif; 
    font-size: 18px;
    color: #fff;
    text-shadow: 0 0 5px #00e5ff, 0 0 10px #ff3cac;
    line-height: 1.6;
    position: absolute;
    bottom: 35%;    
    margin-left: 50px;
    text-align: center;
    width: 700px;
}

/* right side images */
.right{
    width:65%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    left: 40%;
    top: 50px;
}

/* FRAME */
.neon-frame{
    position:relative;
    width:600px;
    height:450px;
}

/* shape neon */
.neon-frame::before{
    content:"";
    position:absolute;
    inset:0;
    border-radius:
                    55% 45% 60% 40% /
                    50% 60% 40% 50%;
    border:4px solid #00e5ff;
    filter:
            drop-shadow(0 0 10px #00e5ff)
            drop-shadow(0 0 40px #00e5ff)
            drop-shadow(0 0 90px #00e5ffaa);
    animation:
            shape1 8s ease-in-out infinite,
            draw 2s ease;
    z-index:1;
}

/* inner frame neon */
.neon-frame::after{
    content:"";
    position:absolute;
    inset:20px;
    border-radius:
                40% 60% 50% 50% /
                55% 45% 60% 40%;
    border:3px solid #ff3cac;
    filter:
            drop-shadow(0 0 10px #ff3cac)
            drop-shadow(0 0 40px #ff3cac)
            drop-shadow(0 0 70px #ff3cac);
    animation:shape2 10s ease-in-out infinite;
    z-index:1;
}

/* FOOD images right side */
.food {
    position: absolute;
    width: 150%; 
    height: 100%;
    object-fit: contain;
    opacity: 0;
    top: 20px;
    left: -150px;
    transition:
            opacity 1.3s ease,
            transform 1.3s ease;
    z-index: 2;
    filter:
        drop-shadow(0 0 20px #ff3cac)
        drop-shadow(0 0 40px #00e5ff);
}

.food.active {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    animation: float 7s ease-in-out infinite;
}

/* FLOAT */
@keyframes float{
        0%{transform:translateY(0);}
        50%{transform:translateY(-15px);}
        100%{transform:translateY(0);}
}

/* SHAPES MOVE */
@keyframes shape1{
    0%{
        border-radius:
                55% 45% 60% 40% /
                50% 60% 40% 50%;
    }
    50%{
        border-radius:
                40% 60% 45% 55% /
                60% 40% 55% 45%;
    }
    100%{
        border-radius:
                55% 45% 60% 40% /
                50% 60% 40% 50%;
    }
}
@keyframes shape2{
    0%{
        border-radius:
             40% 60% 50% 50% /
                55% 45% 60% 40%;
    }
    50%{
        border-radius:
                60% 40% 55% 45% /
                45% 55% 40% 60%;
    }
    100%{
        border-radius:
                40% 60% 50% 50% /
                55% 45% 60% 40%;
    }
}

/* DRAW EFFECT */
@keyframes draw{
    from{
        opacity:0;
        transform:scale(.5);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

/* SPARK */

.neon-frame{

overflow:visible;

}

.neon-frame span{

position:absolute;

width:8px;

height:8px;

background:white;

border-radius:50%;

box-shadow:

0 0 10px white,

0 0 20px #00e5ff,

0 0 40px #ff3cac;

animation:spark 5s linear infinite;

}

/* button (Order now) */

.under{
    position: absolute;
    top: 63%;
    left: 19%;
}

.neon{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0 ;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.neon:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.neon span{
    position: absolute;
    display: block;
}
.neon span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.neon span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.neon span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.neon span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.neon:nth-child(1){
    filter: hue-rotate(110deg);
}
