/* ===== General Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Warp', cursive;
}

/* ===== Body ===== */
body {
    background: #111;
    color: #fff;
    padding: 40px 20px;
}

/* ===== Title ===== */
h2 {
    text-align: center;
    font-size: 3.2em;
    font-weight: 800;
    margin-bottom: 40px;
}

/* ===== Orders Container ===== */
#ordersContainer {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ===== Order Card ===== */
.order-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.order-card:hover {
    transform: translateY(-3px);
}

/* ===== Order Header ===== */
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.order-number {
    font-size: 1.3rem;
}

.customer-name {
    font-size: 0.9rem;
    opacity: 0.7;
}

/* ===== Status ===== */
.order-status {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.status-pending {
    background: orange;
}

.status-preparing {
    background: #0d6efd;
}

.status-ready {
    background: #17a2b8;
}

.status-completed {
    background: #198754;
}

/* ===== Order Details ===== */
.order-details ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.order-details li {
    margin-bottom: 6px;
    font-size: 0.95rem;
}

/* ===== Notes ===== */
.item-note {
    display: block;
    font-size: 1rem;
    opacity: 0.7;
    margin-top: 3px;
}

/* ===== Total ===== */
.total {
    margin: 20px 0;
    font-weight: bold;
}

/* ===== Button ===== */
.action-btn {
    width: 160px;
    padding: 8px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.action-btn:hover {
    opacity: 0.7;
}

/* ===== Responsive ===== */
@media(max-width: 768px){
    .order-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}


#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}